---
const { url, title } = Astro.props;
---

<li>
    <a href={url}>{title}</a>
</li>
<!-- <style>
    a{
        text-decoration: none;
        color: #d3b300;
    }
    li {
        list-style: none;
    }
</style> -->