---
import Social from"./Social.astro";
---

<footer>
  <p>¡More information about my projects at 
    <Social platform="github" username="tuliobast" img="square-github-brands-solid.svg" />  
    <Social platform="linkedin" username="/in/tulio-bastidas-alvarez/" img="linkedin-brands-solid.svg" />
    <Social platform="instagram" username="tuliobast" img="square-instagram-brands-solid.svg" />
    </p>
</footer>
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
</style>